.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name aaa
      .side-header__box__menu
        .side-header__box__menu__new-group
          = link_to new_groups_path do
            .fa.fa-edit
        .side-header__box__menu__edit-user
          = link_to edit_user_path() do
            .fa.fa-cog
  .groups
    = link_to messages_groups_path() do
      .group
        .group__group-name iiiii
        .group__latest-message hhhhhhh