.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name aaa
      .side-header__box__menu
        .side-header__box__menu__new-group
          .a{:href => "/groups/new"}
            .fa.fa-edit
        .side-header__box__menu__edit-user
          .a{:href => "/users/2070/edit"}
            .fa.fa-cog
  .groups
    .a{:href => "/groups/4672/messages"}
      .group
        .group__group-name iiiii
        .group__latest-message hhhhhhh